---
layout: home-default
title: Home
---


<style>
  .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:0;
    margin: 0;
  }

  .author--module {
    color: #7b7b7b;
    line-height: 1.625rem;
    bottom: 0;
    top: 0;
  }

  .fade_rule {
        height: 1px;
        background-color: #E6E6E6;
        margin: auto;
        background-image: linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -o-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -moz-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -ms-linear-gradient(left , white 2%, #E6E6E6 50%, white 98%);
        background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, white), color-stop(0.5, gray), color-stop(0.98, white) );
}
</style>

<div class="box">
  <div>
    <h3 class="site-title">
      <a style="text-decoration: none !important; color: #222;" href="{{ site.github.url }}/">{{ site.author }}</a>
    </h3>
  </div>
  <div class="author--module">
    {{site.job}} @ <a href="https://www.ciginsurance.com/" target="_blank">{{site.company}}</a>
  </div>
  <div class="author--module">
    {{site.description}}
  </div>
  <div style="padding-top: 20px; padding-bottom: 20px;">
    {% for item in site.data.settings.menu %}
      <a style="padding: 0;" href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}" class="menu-link">{{ item.name }}</a>
    {% endfor %}
  </div>
</div>

<div style="margin-top: 20px; margin-bottom: 50px;">
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="fa fa-{{ item.icon }}"
          aria-hidden="true"></i></a>
  {% endfor %}
</div>
<div class="fade_rule"></div> 
<div style="margin-top: 20px;">
  {% for post in paginator.posts %}

  <article>
    <a href="{{ site.github.url }}{{ post.url }}">
      <!-- <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
        <h2><span>{{ post.title }}</span></h2>
      </div> -->
      <h2><span>{{ post.title }}</span></h2>
    </a>
    <span class="author--module">{{ post.intro }}</span>
  </article>
  {% endfor %}

</div>


<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
